
<div class="col-md-1">
</div>
<div class="col-md-10 main-container">
	<div >
		<ul class="nav nav-tabs" role='tablist' id="navTab">
			<li role='presentation' >
				<a data-target="#modify" role="tab" data-toggle="tab">Maintain</a>
			</li>
			<li role="presentation" class="active">
				<a data-target="#new" role="tab" data-toggle="tab">Create</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane " id="modify">
				Modify Zone
			</div>
			<div role="tabpanel" class="tab-pane active" id="new">
				<div class="newGroup_container">
					<div id="stepItems">
						<ul class="processor-bar">
							<li class="step grid-item size1of4 current" id="newgroup-step-1">
								<h4>1 Select departments</h4>
							</li>
							<li class="step grid-item size1of4 next" id="newgroup-step-2">
								<h4>2 Edit group</h4>
							</li>
							<li class="step grid-item size1of4 nnext" id="newgroup-step-3">
								<h4>3 Add Permission</h4>
							</li>
							<li class="step grid-item size1of4 nnext" id="newgroup-step-4">
								<h4>4 Add Colleagues</h4>
							</li>
						</ul>
					</div>
					<div style="margin-top: 20px; height: 400px;" id="step1Container">
						<div class="form-horizontal col-md-6" style="border-right: 1px solid #cecece; height: 100%">
							<div class="form-group">
								<label class="col-md-2 control-label">Office:</label>
								<div class="col-md-8">
									<select class="form-control" ng-model="selectedOffice" ng-options="office.name for office in company.offices">
										<option value="">---Offices---</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Department:</label>
								<div class="col-md-8">
									<select class="form-control" ng-model="selectedDept" ng-options="dept.name for dept in company.depts">
										<option value="">---Depts---</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary col-md-1 col-md-offset-8" ng-click="addDept()">Add</button>
							</div>
						</div>
						<div class="panel panel-default col-md-offset-1 col-md-5" style="padding-left: 0px; padding-right: 0px;">
							<div class="panel-heading">
								Added departments
							</div>
							<div class="panel-body">
								<table class="table">
									<thead>
										<th>#</th>
										<th>Office</th>
										<th>Department</th>
									</thead>
									<tbody>
										<tr data-ng-repeat="item in newGroup.addedDepts">
											<td>
												<a>
													<span class="glyphicon glyphicon-minus" ng-click="minusDept($index)"></span>
												</a>
											</td>
											<td>
												{{item.office.name}}
											</td>
											<td>
												{{item.dept.name}}
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div style="margin-top: 20px; height: 400px; display:none" id="step2Container">
						<div class="form-horizontal col-md-4 col-md-offset-4" >
							<div class="form-group" id="newGroupNameDiv">
								<input type="text" class="form-control" placeholder="Enter Group Name" ng-model="newGroup.groupName" ng-blur="checkExistedName()">
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="col-md-4 form-group alert-danger alert-dismissible">
							<ul>
								<li>
									The group name is already existed.
								</li>
							</ul>
						</div>
						<div class="form-horizontal col-md-6" style="border-right: 1px solid #cecece; height: 100%">
							<div class="form-group">
								<label class="col-md-3 control-label">Role Name:</label>
								<div class="col-md-7">
									<input type="text" class="form-control" placeholder="Enter new role name" ng-model="newRoleName">
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary col-md-1 col-md-offset-9" ng-click="addRoleName()">Add</button>
							</div>
						</div>
						<div class="panel panel-default col-md-offset-1 col-md-5" style="padding-left: 0px; padding-right: 0px;">
							<div class="panel-heading">
								Added roles
							</div>
							<div class="panel-body">
								<table class="table">
									<thead>
										<th>#</th>
										<th>Role Name</th>
									</thead>
									<tbody>
										<tr data-ng-repeat="item in newGroup.addedRoles">
											<td>
												<a>
													<span class="glyphicon glyphicon-minus" ng-click="minusRole($index)"></span>
												</a>
											</td>
											<td>
												{{item.name}}
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div style="margin-top: 20px; height: 400px; display:none" id="step3Container">
						<div class="col-md-2 col-md-offset-1">
							<div class="list-group">
								<a class="list-group-item" ng-class="{'list-group-item-success': (item.selectedCount > 0),'list-group-item-warning':(item.selectedCount == 0),'active':item.edit }" ng-repeat="item in newGroup.addedRoles" ng-click="showRolePermission($index)">
									<span class="badge">{{item.selectedCount}}</span>{{item.name}}
								</a>
							</div>
						</div>
						<div class="col-md-9">
							<div permission-area categoriedpermissions="permissionInfo.displayedPermission" selectedcountchange="changedPermissionCount(permission.checked)"></div>
						</div>
					</div>
					<div style="margin-top: 20px; height: 400px; display:none" id="step4Container">
						step4
					</div>
					<div>
						<button class="btn btn-primary col-md-1 col-md-offset-9" ng-click="pre();" id="preBtn">pre step</button>
						<button class="btn btn-primary col-md-1 col-md-offset-1" ng-click="next();" id="nextBtn">next step</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-1">
</div>



