
<div class="col-md-1">
</div>
<div class="col-md-10 main-container">
	<div >
		<ul class="nav nav-tabs" role='tablist' id="navTab">
			<li role='presentation' >
				<a data-target="#modify" role="tab" data-toggle="tab">Maintain</a>
			</li>
			<li role="presentation" class="active">
				<a data-target="#new" role="tab" data-toggle="tab">Create</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane " id="modify">
				Modify Zone
			</div>
			<div role="tabpanel" class="tab-pane active" id="new">
				<div class="newGroup_container">
					<div id="stepItems">
						<ul class="processor-bar">
							<li class="step grid-item size1of4 current" id="newgroup-step-1">
								<h4>1 Select departments</h4>
							</li>
							<li class="step grid-item size1of4 next" id="newgroup-step-2">
								<h4>2 Edit group</h4>
							</li>
							<li class="step grid-item size1of4 nnext" id="newgroup-step-3">
								<h4>3 Add Permission</h4>
							</li>
							<li class="step grid-item size1of4 nnext" id="newgroup-step-4">
								<h4>4 Add Colleagues</h4>
							</li>
						</ul>
					</div>
					<div style="margin-top: 20px; height: 400px;" id="step1Container">
						<div class="form-horizontal col-md-6" style="border-right: 1px solid #cecece; height: 100%">
							<div class="form-group">
								<label class="col-md-2 control-label">Office:</label>
								<div class="col-md-8">
									<select class="form-control" ng-model="selectedOffice" ng-options="office.name for office in company.offices">
										<option value="">---Offices---</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Department:</label>
								<div class="col-md-8">
									<select class="form-control" ng-model="selectedDept" ng-options="dept.name for dept in company.depts">
										<option value="">---Depts---</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary col-md-1 col-md-offset-8" ng-click="addDept()">Add</button>
							</div>
						</div>
						<div class="panel panel-default col-md-offset-1 col-md-5" style="padding-left: 0px; padding-right: 0px;">
							<div class="panel-heading">
								Added departments
							</div>
							<div class="panel-body">
								<table class="table">
									<thead>
										<th>#</th>
										<th>Office</th>
										<th>Department</th>
									</thead>
									<tbody>
										<tr data-ng-repeat="item in newGroup.addedDepts">
											<td>
												<a>
													<span class="glyphicon glyphicon-minus" ng-click="minusDept($index)"></span>
												</a>
											</td>
											<td>
												{{item.office.name}}
											</td>
											<td>
												{{item.dept.name}}
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div style="margin-top: 20px; height: 400px; display:none" id="step2Container">
						<div class="form-horizontal col-md-4 col-md-offset-4" >
							<div class="form-group" id="newGroupNameDiv">
								<input type="text" class="form-control" placeholder="Enter Group Name" ng-model="newGroup.groupName" ng-blur="checkExistedName()">
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="col-md-4 form-group alert-danger alert-dismissible">
							<ul>
								<li>
									The group name is already existed.
								</li>
							</ul>
						</div>
						<div class="form-horizontal col-md-6" style="border-right: 1px solid #cecece; height: 100%">
							<div class="form-group">
								<label class="col-md-3 control-label">Role Name:</label>
								<div class="col-md-7">
									<input type="text" class="form-control" placeholder="Enter new role name" ng-model="newRoleName">
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary col-md-1 col-md-offset-9" ng-click="addRoleName()">Add</button>
							</div>
						</div>
						<div class="panel panel-default col-md-offset-1 col-md-5" style="padding-left: 0px; padding-right: 0px;">
							<div class="panel-heading">
								Added roles
							</div>
							<div class="panel-body">
								<table class="table">
									<thead>
										<th>#</th>
										<th>Role Name</th>
									</thead>
									<tbody>
										<tr data-ng-repeat="item in newGroup.addedRoles">
											<td>
												<a>
													<span class="glyphicon glyphicon-minus" ng-click="minusRole($index)"></span>
												</a>
											</td>
											<td>
												{{item.name}}
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div style="margin-top: 20px; height: 400px; display:none" id="step3Container">
						<div class="col-md-2 col-md-offset-1">
							<div class="list-group">
								<a class="list-group-item" ng-class="{'list-group-item-success': (item.selectedCount > 0),'list-group-item-warning':(item.selectedCount == 0),'active':item.edit }" ng-repeat="item in newGroup.addedRoles" ng-click="showRolePermission($index)">
									<span class="badge">{{item.selectedCount}}</span>{{item.name}}
								</a>
							</div>
						</div>
						<div class="col-md-9">
							<div class="panel-group" id="permissions" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default" ng-repeat="item in permissionInfo.displayedPermission">
									<div class="panel-heading" role="tab" id="cate_{{item.categoryId}}">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-target="#cate_collapse{{item.categoryId}}" aria-expanded="true" aria-controls="cate_collapse{{item.categoryId}}">
												{{item.categoryName}}
											</a>
										</h4>
									</div>
									<div id="cate_collapse{{item.categoryId}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cate_{{item.categoryId}}">
										<div class="panel-body">
											<div class="checkbox col-md-4" ng-repeat="permission in item.permissions">
												<label>
													<input type="checkbox" ng-model="permission.checked" ng-disabled="permission.disabled" ng-change="changedPermissionCount(permission.checked)" >
													{{permission.name}}
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div style="margin-top: 20px; height: 400px; display:none" id="step4Container">

					<div class="col-md-5" style="float:left;">
						<div class="form-inline" >
							<div class="form-group">
							    <select class="form-control" ng-model="selectedOffice" ng-options="office.name for office in company.offices">
									<option value="">---Offices---</option>
								</select>
						  	</div>
						  	<div class="form-group">
						  		<select class="form-control" ng-model="selectedDept" ng-options="dept.name for dept in company.depts">
									<option value="">---Departments---</option>
								</select>
						  	</div>
						  	<div class="form-group">
						  		<button class="btn btn-primary btn-sm">Search</button>
						  	</div>
						</div>
						<div style="overflow-y:auto; height: 100%; width: 100%;">
							<table class="table table-condensed" style="font-size: x-small;">
								<thead>
									<tr>
										<th>#</th>
										<th>Full Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>+</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

						
					<div class="col-md-7">
						<div class="form-inline">
							<table class="table table-condensed" style="font-size: x-small;">
								<thead>
									<tr>
										<th>#</th>
										<th>Full Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>
											<lable for="ManagerId">Manager</lable>
											<input type="checkbox" id="ManagerId" />
											<lable for="programmerId">programmer</lable>
											<input type="checkbox" id="programmerId" />
										</td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					
						
					
						<!-- <div class="form-horizontal col-md-5" style="border-right: 1px solid #cecece; height: 100%">
							<div class="form-inline">
								<div class="form-group col-md-4">
									<select class="form-control" ng-model="selectedOffice" ng-options="office.name for office in company.offices">
										<option value="">---Offices---</option>
									</select>
								</div>
								<div class="form-group col-md-6">
									<select class="form-control" ng-model="selectedDept" ng-options="dept.name for dept in company.depts">
										<option value="">---Departments---</option>
									</select>
								</div>
								<div class="form-group col-md-2">
									<button class="btn btn-primary btn-sm">Search</button>
								</div>
							</div>

							<div class="form-inline" style="overflow: scroll; height: 100px; width: 100px;">
								<table class="table table-condensed" style="font-size: x-small;">
									<thead>
										<tr>
											<th>#</th>
											<th>Full Name</th>
											<th>Email</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
										<tr>
											<td>1</td>
											<td>Mark Otto</td>
											<td>test@gmail.com</td>
											<td>+</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>

						<div class="form-horizontal col-md-6">
							<table class="table table-condensed" style="font-size: x-small;">
								<thead>
									<tr>
										<th>#</th>
										<th>Full Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>Mark Otto</td>
										<td>test@gmail.com</td>
										<td>
											<lable for="ManagerId">Manager</lable>
											<input type="checkbox" id="ManagerId" />
											<lable for="programmerId">programmer</lable>
											<input type="checkbox" id="programmerId" />
										</td>
									</tr>
								</tbody>
							</table>
						</div> -->
					</div>
					<div>
						<button class="btn btn-primary col-md-1 col-md-offset-9" ng-click="pre();" id="preBtn">pre step</button>
						<button class="btn btn-primary col-md-1 col-md-offset-1" ng-click="next();" id="nextBtn">next step</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-1">
</div>



