<div class="col-md-offset-1 col-md-10 main-container">	
	<div class="panel-group" id="permission" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="category">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#categoryArea" aria-expanded="true" aria-controls="categoryArea">
						Add category
					</a>
				</h4>
			</div>
			<form name="addCategory" novalidate >
				<div id="categoryArea" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="category">
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group" ng-class="{'has-error has-feedback': addCategory.$dirty && addCategory.$invalid}">
								<label class="col-md-2 control-label" for="newCategoryName">Category Name</label>
								<div class="col-md-4">
									<input type="text" 
										   id="newCategoryName" 
										   class="form-control" 
										   placeholder="Enter category name"
										   name="newCategoryName"
										   ng-model="CategoryName"
										   required />
								</div>
								<div class="col-md-6" ng-show="formStyle.addCategory.feedbackMessage != ''" >
									<label class="control-label text-danger">{{formStyle.addCategory.feedbackMessage}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label" for="newCategoryDescription">Description</label>
								<div class="col-md-4">
									<input type="text" 
										   id="newCategoryDescription" 
										   class="form-control" 
										   placeholder="Enter description"
										   name="newCategoryDescription"
										   ng-model="CategoryDescription" />
								</div>
								<div class="col-md-6">
									<button class="btn btn-primary" 
											ng-click="AddCategory();" 
											ng-disabled="addCategory.$invalid">
									{{formStyle.addCategory.submitButtonText}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="permission">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#permissionArea" aria-expanded="true" aria-controls="categoryArea">
						Permission
					</a>
				</h4>
			</div>
			<div id="permissionArea" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="permission">
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-md-2">
								<select class="form-control" 
										ng-model="selectPermissionCategory" 
										ng-options="category.name for category in permissionCategories">
									<option value="">-- choose category --</option>
								</select>
							</div>
							<div class="col-md-2">
								<button class="btn btn-primary btn-sm" ng-click="searchPermissionByCategory();">
								Search
								</button>
							</div>
						</div>
						<div class="form-group">
							records . . . 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>