<div class="col-md-offset-1 col-md-10 main-container">	
	<div class="panel-group" id="permission" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="category">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#categoryArea" aria-expanded="true" aria-controls="categoryArea">
						Add category
					</a>
				</h4>
			</div>
			<form name="addCategory" novalidate >
				<div id="categoryArea" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="category">
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group" ng-class="{'has-error has-feedback': addCategory.$dirty && addCategory.$invalid}">
								<label class="col-md-2 control-label" for="newCategoryName">Category Name</label>
								<div class="col-md-4">
									<input type="text" 
										   id="newCategoryName" 
										   class="form-control" 
										   placeholder="Enter category name"
										   name="newCategoryName"
										   ng-model="CategoryName"
										   ng-readonly="formStyle.addCategory.isSubmitting"
										   ng-change="changeCategoryInput()"
										   required />
								</div>
								<div class="col-md-6" ng-show="formStyle.addCategory.feedbackMessage != ''" >
									<label class="control-label text-danger">{{formStyle.addCategory.feedbackMessage}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label" for="newCategoryDescription">Description</label>
								<div class="col-md-4">
									<input type="text" 
										   id="newCategoryDescription" 
										   class="form-control" 
										   placeholder="Enter description"
										   name="newCategoryDescription"
										   ng-model="CategoryDescription"
										   ng-readonly="formStyle.addCategory.isSubmitting"
										   ng-change="changeCategoryInput()"
										   />
								</div>
								<div class="col-md-6">
									<button class="btn btn-primary" 
											ng-click="AddCategory();" 
											ng-disabled="formStyle.addCategory.isSubmitting || addCategory.$invalid">
									{{formStyle.addCategory.submitButtonText}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="permission">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-target="#permissionArea" aria-expanded="true" aria-controls="categoryArea">
						Permission
					</a>
				</h4>
			</div>
			<div id="permissionArea" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="permission">
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-md-3">
								<select class="form-control" 
										ng-model="selectPermissionCategory" 
										ng-options="category.name for category in permissionCategories"
										ng-change="changeSelectPermissionCategory();">
									<option value="">-- choose category --</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<table class="table table-condensed" >
									<thead>
										<tr>
											<th>Permission Name</th>
											<th>Description</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr ng-show="searchPermission.length <= 0">
											<td colspan="3">No records...</td>
										</tr>
										<tr data-ng-repeat="permission in searchPermission">
											<td>{{permission.name}}</td>
											<td>{{permission.description}}</td>
											<td>
												<a href=""
												   data-toggle="modal" 
												   data-target="#myModal"
												   ng-click="permissionAction('edit', permission);" >
											    edit
											    </a>
											</td>
										</tr> -->
										<!-- <tr ng-show="searchPermission.length <= 0">
											<td colspan="3">No records...</td>
										</tr> -->
										<tr data-ng-repeat="permission in permissions | testFilter:selectPermissionCategory.id ">
											<td>{{permission.name}}</td>
											<td>{{permission.description}}</td>
											<td>
												<a href=""
												   data-toggle="modal" 
												   data-target="#myModal"
												   ng-click="permissionAction('edit', permission);" >
											    edit
											    </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{permissionAction.title}}</h4>
      </div>
      <div class="modal-body">
      		<form role="form">
	        	<div class="form-group">
	        		<label for="actionPermissionName">Name</label>
	        		<input class="form-control" 
        				   type="text" 
        				   id="actionPermissionName" 
        				   ng-model="permissionAction.permissionModel.name" />
	        	</div>
	        	<div class="form-group">
	        		<label for="actionPermissionDescription">Description</label>
        			<input class="form-control" 
        				   type="text" 
        				   id="actionPermissionDescription" 
        				   ng-model="permissionAction.permissionModel.description" />
	        	</div>
	        	<div class="form-group">
	        		<label for="actionPermissionCategory">Category</label>
        			<select class="form-control" 
        					id="actionPermissionCategory"
							ng-model="permissionAction.permissionModel.categoryId" 
							ng-options="category.id as category.name for category in permissionCategories">
							<option value="">-- choose category --</option>
					</select>
	        	</div>
        	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
