<DOCTYPE html>
	<html ng-app="FreeApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MSC</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/select.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/ng-grid.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/angular-toggle-switch-bootstrap-3.css">
	</head>
	<body style="padding-top: 70px; background: #e7e8eb">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="" style="margin-right: 50px;">Guest</a></li>
			</ul>
		</nav>
		<div ng-view>

		</div>
		<script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular.js"></script>
		<script type="text/javascript" src="/javascripts/select.js"></script>
		<script type="text/javascript" src="/javascripts/self-services.js"></script>
		<script type="text/javascript" src="/javascripts/self-directives.js"></script>
		<script type="text/javascript" src="/javascripts/self-user-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/self-permission-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/self-filters.js"></script>
		<script type="text/javascript" src="/javascripts/angular-route.js"></script>
		<script type="text/javascript" src="/javascripts/async.js"></script>
		<script type="text/javascript" src="/javascripts/calendar.js"></script>
		<script type="text/javascript">
			angular.module('FreeApp', ['ngRoute', 'selfControllers', 'selfServices', 'selfDirectives'])
			.config(['$routeProvider', function($routeProvider) {
				$routeProvider
				.when('/USER/Regist', {
					templateUrl: '/partialviews/signUp.html',
					controller: 'UserCtrl',
					caseInsensitiveMatch: true
				})
				.when('/USER/ForgetPassword', {
					templateUrl: '/partialviews/forgetPassword.html',
					controller: 'UserForgotPassowrdCtrl',
					caseInsensitiveMatch: true
				});
				// .when('/USER/ForceResetPassword', {
				// 	templateUrl: '/partialviews/forceResetPassword.html',
				// 	controller: 'UserForceResetPasswordCtrl',
				// 	caseInsensitiveMatch: true
				// });
			}]);

		</script>
	</body>
	</html>