<html ng-app="mainApp">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MSC</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body class="index">
	<div class="jumbotron trans" ng-controller="loginCtrl">
		<h1>
			Have a good day, Colleagues
		</h1>
		<h4>
			Welcome to the Internal Web.
		</h4>
		<p>
			<!-- <button class="btn btn-primary btn-lg">Public</button>
			<button class="btn btn-primary btn-lg">User</button> -->
			<div class="form-inline" role="form">
				<!-- <form class="form-inline" role="form" action="/API/user/LOGIN" method="POST"> -->
				<div class="form-group">
					<label class="sr-only" for="loginName">
						Login Name: 
					</label>
					<input type="text" ng-model="userName" name="userName"  class="form-control" id="loginName" placeholder="Enter login Name">
				</div>
				<div class="form-group" ng-hide="userInfo.isLogin">
					<label class="sr-only" for="loginPWD">
						Password: 
					</label>
					<input type="password" name="password" ng-model="password" class="form-control" id="loginPWD" placeholder="Enter password" ng-keydown="checkEnter($event)">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg" ng-click="login()">Login</button>
					<!-- <input type="submit" class="btn btn-primary btn-lg" value="Login"> -->
					<button class="btn btn-primary btn-lg" ng-click="registUser();">Regist User</button>
				</div>
				<!-- </form> -->
			</div>
			<div class="form-group">
				<a href="javascript:void(0);" ng-click="forgotPassword();">Forgot your password?</a>
			</div>
		</p>
	</div>
	<div ng-controller="rootCtrl">
			<div class="modal" id="extraModal" data-backdrop="false">
			<div class="modal-dialog modal-dialog-center">
				<div class="modal-content alert alert-danger" ng-show="cover.status=='danger'">
					<div class="modal-header" style="padding:0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body" role="alert" >
						{{cover.info}}
					</div>
				</div>
				<div class="modal-content alert alert-success" ng-show="cover.status=='success'">
					<div class="modal-header"  style="padding:0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body" role="alert" >
						{{cover.info}}
					</div>
				</div>
				<div class="modal-content modal-body progress" style="padding:0" ng-show="cover.status=='load'">
					<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						<span>{{cover.info}}</span>
					</div>
				</div>
			</div>
			</div>
		</div>
	<script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular.js"></script>
	<script type="text/javascript" src="/javascripts/angular-route.js"></script>
	<script type="text/javascript" src="/javascripts/self-root.js"></script>
	<script type="text/javascript" src="/javascripts/ng-grid.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/self-root.js"></script>
	<script type="text/javascript">
	// angular.module('mainApp',['ngRoute'])
	// .config(['$routeProvider',function($routeProvider){

	// }])
		angular.module('mainApp', ['selfRootController','selfRootController'])
			.controller('loginCtrl', function($scope, $http, $rootScope) {
				$rootScope.userInfo = {
					name: 'Guest',
					isLogin: false
				};
				$scope.userName = '';
				$scope.password = '';

				$scope.forgotPassword = function() {
					window.location = 'free#/USER/ForgetPassword';
				};



				$scope.login = function() {
					$rootScope.loadingShow('Log in...');
					$http({
						method: 'POST',
						url: '/API/user/LOGIN',
						data: {
							userName: $scope.userName,
							password: $scope.password
						},
						cache: false
					}).success(function(data, status) {

						if (data.isLoginIn) {

							if (data.isNeedForceModify) {
								window.location = 'main#/USER/ForceResetPassword';
							} else {
								window.location = '/main';
							}
						} else {
							$rootScope.loadingHide();
							$rootScope.dangerAlert('Wrong login name or wrong password');
						}

					}).error(function(data, status) {
						$rootScope.dangerAlert(data);
					});
				};


				$scope.registUser = function() {
					window.location = 'free#/USER/Regist';
				};

				$scope.checkEnter = function(e) {
					if (e.keyCode == 13) {
						$scope.login();
					}
				}

			});
		
	
	</script>
</body>
</html>
