<DOCTYPE html>
	<html ng-app="SIApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MSC</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/select.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/ng-grid.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/angular-toggle-switch-bootstrap-3.css">
	</head>
	<body style="padding-top: 70px; background: #e7e8eb;font-size: 1.2em;">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="navCtrl">
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="hasPermission([2,3,4,5])">CSR<span  class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/SO#/main" ng-show="hasPermission([2,3,4,5])">SO</a>
						</li>
						<li>
							<a href="/SO#/statistic">Statistic</a>
						</li>
					</ul>
				</li>
				<li><a href="#setPermission"></a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="hasPermission([6,7,8])">Permission System<span  class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/main#/Permission/Group" ng-show="hasPermission([6,7])" >Group</a>
							<a href="/main#/Permission/ModifyPermission" ng-show="hasPermission([8])">Permission</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/user#/calendar">{{userInfo.loginName}}</a></li>
				<li><a href='/main/logout' style="margin-right: 50px;">Log out</a></li>
			</ul>
		</nav>
		<!-- <menu ng-controller="navCtrl" menu-info="userInfo" /> -->
		<div ng-view>

		</div>

		<div ng-controller="rootCtrl">
			<div class="modal" id="extraModal" data-backdrop="false">
			<div class="modal-dialog modal-dialog-center">
				<div class="modal-content alert alert-danger" ng-show="cover.status=='danger'">
					<div class="modal-header" style="padding:0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body" role="alert" >
						{{cover.info}}
					</div>
				</div>
				<div class="modal-content alert alert-success" ng-show="cover.status=='success'">
					<div class="modal-header"  style="padding:0">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body" role="alert" >
						{{cover.info}}
					</div>
				</div>
				<div class="modal-content modal-body progress" style="padding:0" ng-show="cover.status=='load'">
					<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						<span>{{cover.info}}</span>
					</div>
				</div>
			</div>
			</div>
		</div>

		<script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular.js"></script>
		<script type="text/javascript" src="/javascripts/select.js"></script>
		<script type="text/javascript" src="/javascripts/self-root.js"></script>
		<script type="text/javascript" src="/javascripts/self-services.js"></script>
		<script type="text/javascript" src="/javascripts/self-directives.js"></script>
		<script type="text/javascript" src="/javascripts/self-si-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/self-user-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/self-permission-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/self-filters.js"></script>
		<script type="text/javascript" src="/javascripts/self-root.js"></script>
		<script type="text/javascript" src="/javascripts/angular-route.js"></script>
		<script type="text/javascript" src="/javascripts/ng-grid.js"></script>
		<script type="text/javascript" src="/javascripts/angular-toggle-switch.js"></script>
		<script type="text/javascript" src="/javascripts/async.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
		<script type="text/javascript" src="/javascripts/calendar.js"></script>
		<script type="text/javascript">
			angular.module('SIApp', ['ngRoute', 'ngGrid', 'selfControllers', 'selfSIControllers', 'selfServices', 'selfPermissionCtrls', 'toggle-switch','selfDirectives','selfRootController'])
				.config(['$routeProvider', function($routeProvider) {
					$routeProvider
						.when('/SI', {
							templateUrl: '/partialviews/SIMain.html',
							controller: 'SICtrl',
							caseInsensitiveMatch: true
						})
						.when('/USER/Regist', {
							templateUrl: '/partialviews/signUp.html',
							controller: 'UserCtrl',
							caseInsensitiveMatch: true
						})
						.when('/USER/ForgetPassword', {
							templateUrl: '/partialviews/forgetPassword.html',
							controller: 'UserForgotPassowrdCtrl',
							caseInsensitiveMatch: true
						})
						.when('/USER/ForceResetPassword', {
							templateUrl: '/partialviews/forceResetPassword.html',
							controller: 'UserForceResetPasswordCtrl',
							caseInsensitiveMatch: true
						})
						.when('/Permission/Group', {
							templateUrl: '/partialviews/permission/group.html',
							controller: 'permissionGroupCtrl',
							caseInsensitiveMatch: true
						})
						.when('/Permission/ModifyPermission', {
							templateUrl: '/partialviews/permission/ModifyPermission.html',
							controller: 'permissionCtrl',
							caseInsensitiveMatch: true
						});
				}])
				.controller('navCtrl', function($scope, $rootScope) {
					// $rootScope.userInfo = JSON.parse($.cookie('userInfo'));
					// $rootScope.hasPermission = function(permissionIds) {
					// 	if (!$rootScope.userInfo) {
					// 		$rootScope.userInfo = JSON.parse($.cookie('userInfo'));
					// 	}
					// 	if(!$rootScope.userInfo || !$rootScope.userInfo.permissions ||$rootScope.userInfo.permissions.length == 0){
					// 		return false;
					// 	}
					// 	var owned = $rootScope.userInfo.permissions;

					// 	if(owned.indexOf(1) != -1){
					// 		return true;
					// 	}
					// 	var result = false;
					// 	if(permissionIds && angular.isArray(permissionIds) && permissionIds.length > 0){
					// 		$.each(permissionIds,function(i,v){
					// 			if(owned.indexOf(v) != -1){
					// 				result = true;
					// 				return false;
					// 			}
					// 		});
					// 		return result;
					// 	}
					// 	else{
					// 		return false;
					// 	}
					// }
				});
</script>
</body>
</html>