<DOCTYPE html>
	<html ng-app="userApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MSC</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/ng-grid.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/angular-toggle-switch-bootstrap-3.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/fullcalendar.css">
	</head>
	<body style="padding-top: 70px; background: #e7e8eb">
		<menu ng-controller="navCtrl" menu-info="userInfo" />
		<div ng-view>

		</div>
		<script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular.js"></script>
		<script type="text/javascript" src="/javascripts/self-services.js"></script>
		<script type="text/javascript" src="/javascripts/self-user-controllers.js"></script>
		<script type="text/javascript" src="/javascripts/angular-route.js"></script>
		<script type="text/javascript" src="/javascripts/ng-grid.js"></script>
		<script type="text/javascript" src="/javascripts/async.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
		<script type="text/javascript" src="/javascripts/moment.min.js"></script>
		<script type="text/javascript" src="/javascripts/fullcalendar.js"></script>
		<script type="text/javascript" src="/javascripts/calendar.js"></script>
		<script type="text/javascript">
			angular.module('userApp', ['ngRoute', 'ngGrid', 'selfServices', 'selfControllers'])
				.config(['$routeProvider', function($routeProvider) {
					$routeProvider
						.when('/index', {
							templateUrl: '/partialviews/user/index.html',
							controller: 'mainCtrl',
							caseInsensitiveMatch: true
						})
						.when('/calendar', {
							templateUrl: '/partialviews/user/calendar.html',
							controller: 'calendarCtrl',
							caseInsensitiveMatch: true
						});
				}])
				.controller('navCtrl', function($scope, $rootScope) {
					$rootScope.userInfo = JSON.parse($.cookie('userInfo'));
					$rootScope.hasPermission = function(permissionIds) {
						if (!$rootScope.userInfo) {
							$rootScope.userInfo = JSON.parse($.cookie('userInfo'));
						}
						if(!$rootScope.userInfo || !$rootScope.userInfo.permissions ||$rootScope.userInfo.permissions.length == 0){
							return false;
						}
						var owned = $rootScope.userInfo.permissions;

						if(owned.indexOf(1) != -1){
							return true;
						}
						var result = false;
						if(permissionIds && angular.isArray(permissionIds) && permissionIds.length > 0){
							$.each(permissionIds,function(i,v){
								if(owned.indexOf(v) != -1){
									result = true;
									return false;
								}
							});
							return result;
						}
						else{
							return false;
						}
					}
				})
</script>
</body>
</html>