<div class="row" style="text-align: center" ng-show="isUpdatedInRefresh">
	<a style="color: red" ng-click="refreshDataUpdate();">There is update. Marked yellow at background color.</a>
</div>
<div class="row">
	<div data-ng-class="{'col-md-2':listDivClass,'':detailDivClass}" ng-show="listDivClass">
		<div class="row margin-botton-div" ng-show="hasSelectedSO">
			<div class="col-md-12 margin-botton-div">
				<button class="btn btn-primary" ng-show="hasPermission(3)" ng-click="openDispatchGroupDialog()" >Dispatch to Group</button>
			</div>
			<div class="col-md-12 margin-botton-div" >
				<button class="btn btn-primary" ng-show="hasPermission(2)" ng-click="openAssignUserDialog()">Assign to inputter</button>
			</div>
		</div>
		<div class="row margin-botton-div">
			<div class="col-md-12">
				<toggle-switch model="isFilterZone"  on-label="Filter" off-label="Search" class="switch-primary" style="height: 30px;"></toggle-switch>
			</div>
		</div>
		<div class="row" id="filterZone" ng-show="isFilterZone">
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.OriginalType" ng-options="item for item in analyseResult.OriginalType">
					<option value="">---Type---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.StatusName" ng-options="item for item in analyseResult.StatusName">
					<option value="">---Status---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.ExecuteeName" ng-options="item for item in analyseResult.ExecuteeName">
					<option value="">---Executee---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.Service" ng-options="item for item in analyseResult.Service">
					<option value="">---Service---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.Vessel" ng-options="item for item in analyseResult.Vessel">
					<option value="">---Vessel---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.Voyage" ng-options="item for item in analyseResult.Voyage">
					<option value="">---Voyage---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.POR" ng-options="item for item in analyseResult.POR">
					<option value="">---POR---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.POL" ng-options="item for item in analyseResult.POL">
					<option value="">---POL---</option>
				</select>
			</div>
			<div class="col-md-12 margin-botton-div">
				<select class="form-control" ng-model="filters.IsPreAssign" ng-options="item for item in analyseResult.IsPreAssign">
					<option value="">---IsPreAssign---</option>
				</select>
			</div>
			<div class="col-md-12">
				<button class="btn btn-primary" ng-click="resetFilter();">
					Reset
				</button>
			</div>
		</div>
		<div class="row" id="searchZone" ng-hide="isFilterZone">
			<div class="col-md-12 margin-botton-div">
				<input type="text" class="form-control" ng-model="searchCondition.bookingId" placeholder="Enter Id" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchSender" class="form-control" ng-model="searchCondition.sender" placeholder="Enter Sender Name" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchGroup" class="form-control" ng-model="searchCondition.dispatchedGroup" placeholder="Enter Dispatched Group" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchUser" class="form-control" ng-model="searchCondition.assignedUser" placeholder="Enter Assigned User" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchService" class="form-control" ng-model="searchCondition.service" placeholder="Enter Service" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchPOR" class="form-control" ng-model="searchCondition.por" placeholder="Enter POR" />
			</div>
			<div class="col-md-12 margin-botton-div">
				<input type="text" id="inputSearchPOL" class="form-control" ng-model="searchCondition.pol" placeholder="Enter POL" />
			</div>
			<div class="col-md-12 margin-botton-div dropdown">
				<a class="dropdown-toggle" id="startDate" role="button" data-toggle="dropdown" data-target="#">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="searchCondition.startDate" placeholder="Enter Start Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<datetimepicker ng-model="searchCondition.startDate" data-datetimepicker-config="{dropdownSelector:'#startDate', startView:'day', minView:'day',dateFormat:'YYYY-MM-DD'}" />
				</ul>
			</div>
			<div class="col-md-12 margin-botton-div dropdown">
				<a class="dropdown-toggle" id="endDate" role="button" data-toggle="dropdown" data-target="#">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="searchCondition.endDate" placeholder="Enter End Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ></i></span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<datetimepicker ng-model="searchCondition.endDate" data-datetimepicker-config="{dropdownSelector:'#endDate', startView:'day', minView:'day',dateFormat:'YYYY-MM-DD'}" />
				</ul>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="searchSO()">Search</button>	
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="resetSearchCondition()">Reset</button>	
			</div>
		</div>
	</div>
	<div ng-class="{'col-md-10':listDivClass,'col-md-2':detailDivClass,'fixed-div':detailDivClass}" id="listDiv">
		<div id="grid" class="gridStyle" ng-grid="siGrid" ng-style="{'height':tableHeight}"></div>
		
	</div>
	<div ng-class="{'col-md-10 col-md-offset-2':detailDivClass,'':listDivClass}" id="detailDiv" ng-show="detailDivClass">
		<div class="margin-botton-div">
			<button class="btn btn-primary" ng-click="bakcToList();">Back to list</button>
			<button class="btn btn-primary" ng-show="hasPermission(4)" ng-click="openWorkFlowDialog();">Add workflow</button>
			<button class="btn btn-primary" ng-show="hasPermission(2)" ng-click="openAssignUserDialog()">Assign</button>
			<button class="btn btn-primary" ng-show="hasPermission(3)" ng-click="openDispatchGroupDialog()">Dispatch</button>
		</div>
		<div>
			<ul class="nav nav-tabs" role="tablist" id="detailTab">
				<li role="presentation" class="active">
					<a data-target="#baseInfo" role="tab" style="cursor: pointer" data-toggle="tab">Base Info</a>
				</li>
				<li role="presentation">
					<a data-target="#workflow" role="tab" style="cursor: pointer" data-toggle="tab">Work Flow</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="baseInfo">
					<div class="well">
						<div class="row">
							<div class="col-md-2">
								<label>SO Type: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.SOType}}</label>
							</div>
							<div class="col-md-2">
								<label>Sender: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.Sender}}</label>
							</div>
							<div class="col-md-2">
								<label>Received Time: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.ReceivedTime}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Service: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.Service}}</label>
							</div>
							<div class="col-md-2">
								<label>POR: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.POR}}</label>
							</div>
							<div class="col-md-2">
								<label>POL: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.POL}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Request Time: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.RequestTime}}</label>
							</div>
							<div class="col-md-2">
								<label>Is PreAssign: </label>
							</div>
							<div class="col-md-2">
								<label>{{currentSORequest.baseInfo.IsPreAssignedBK}}</label>
							</div>
						</div>
					</div>
					<div class="well" ng-hide="currentSORequest.bookings == null ||currentSORequest.bookings.length == 0">
						<table class="table table-hover table-sm">
							<thead>
								<th>BookingNo</th>
								<th>Status</th>
								<th>InttraNo</th>
								<th>Container Count</th>
								<th>Total TEU</th>
								<th>Is Copay Booking</th>
								<th>Booking Confirmation Time</th>
								<th>Finished User</th>
							</thead>
							<tbody>
								<tr ng-repeat="item in currentSORequest.bookings | orderBy:''-BookingConfirmationTime">
									<td>{{item.BookingNumber}}</td>
									<td>{{item.Status}}</td>
									<td>{{item.InttraNo}}</td>
									<td>{{item.ContainerCount}}</td>
									<td>{{item.TotalTEU}}</td>
									<td>{{item.IsCopyBooking}}</td>
									<td>{{item.BookingConfirmationTime}}</td>
									<td>{{item.FinishedUser}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="workflow">
					<div class="well">
						<table class="table table-hover table-sm">
							<thead>
								<tr><th style="width: 150px;">Time</th>
									<th style="width: 100px;">Executor</th>
									<th style="width: 100px;">Executee</th>
									<th style="width: 100px;">Status</th>
									<!-- <th style="width: 80px;">Is Update</th> -->
									<th style="width: 100px;">Update Type</th>
									<th style="width: 100px;">Update User</th>
									<th style="width: 200px;">Remark</th>
									<th style="width: 200px;">Attachment</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in currentSORequest.workflow | orderBy:'-OperateTime'">
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.OperateTime}}</td>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.Executor}}</td>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.Executee}}</td>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.Status}}</td>
									<!-- <td>{{item.IsUpdateInCurrentStatus}}</td> -->
									<th ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.UpdateType}}</th>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.Updater}}</td>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}">{{item.Remark}}</td>
									<td ng-class="{'refreshUpdated': item.isUpdateOne}"><a target="blank" href="/restfulAPI/download/SO?id={{item.SOSupportingFileId}}">{{item.AttachmentName}}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
	</div>
</div>
<div class="modal fade" role="dialog" id="dispatchDialog" aria-labelledby="dispatchTitle" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="dispatchTitle">
					Dispatch
				</h4>
			</div>
			<div class="modal-body">
				<a id="dispatchShowTipId" ng-click="showDispatchTips()" style="display:none;">Tips</a>
				<div class="row" id="dispatchTipDiv">
					<div class="col-md-8 col-md-offset-1">
						<h6>
							<span class="badge btn-danger">xx</span> : Unfinished SO request count.
						</h6>
						<h6>
							<span class="badge btn-success">xx</span> : Finished SO request count today.
						</h6>
						<h6>
							<span class="badge btn-info">xx</span> : Dispatched SO request count to this group today.
						</h6>
						<a ng-click="hideDispatchTips()">hide tips</a>
					</div>
				</div>			
				<h5>
					Dispatch to :
				</h5>
				<div class="row">
					<div class="checkbox col-md-4" ng-repeat="item in canDispatchedGroup">
						<label>
							<input type="checkbox" ng-model="item.checked" />
							{{item.name}}
							<span class="badge btn-danger">{{item.unfinished}}</span>
							<span class="badge btn-success">{{item.finished}}</span>
							<span class="badge btn-info">{{item.dispatched}}</span>
						</label>
					</div>
				</div>

				
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary col-md-offset-9 col-md-1" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary col-md-1" ng-click="forceDispatch()">Dispatch</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" role="dialog" id="assignDialog" aria-labelledby="assignTitle" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="assignTitle">
					Assign
				</h4>
			</div>
			<div class="modal-body">
				<a id="assignShowTipId" ng-click="showAssignTips()" style="display:none;">Tips</a>
				<div class="row" id="assignTipDiv">
					<div class="col-md-8 col-md-offset-1">
						<h6>
							<span class="badge btn-danger">xx</span> : Unfinished SO request count.
						</h6>
						<h6>
							<span class="badge btn-success">xx</span> : Finished SO request count today.
						</h6>
						<h6>
							<span class="badge btn-info">xx</span> : Assigned SO request count to this colleague today.
						</h6>
						<a ng-click="hideAssignTips()">hide tips</a>
					</div>
				</div>	
				<h5>
					Assign to :
				</h5>
				<div class="panel panel-primary" ng-repeat="item in canAssignUser">
					<div class="panel-heading">
						<h4 class="panel-title">{{item.groupName}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="checkbox col-md-4" ng-repeat="user in item.users">
								<label>
									<input type="checkbox" ng-model="user.checked" />{{user.name}}
									<span class="badge btn-danger">{{user.unfinished}}</span>
									<span class="badge btn-success">{{user.finished}}</span>
									<span class="badge btn-info">{{user.assigned}}</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary col-md-offset-9 col-md-1" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary col-md-1" ng-click="forceAssign()">Assign</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" id="workflowDialog" aria-labelledby="workflowTitle" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="workflowTitle">
					Work Flow
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="form-label col-md-2 col-md-offset-1" style="padding-top:7px;">
							Workflow Type:
						</label>
						<div class="col-md-3">
							<select class="form-control" ng-model="newWorkFlow.type" ng-options="item.name for item in workFlowBaseInfo.types"></select>
						</div>
					</div>
					<div>
						<div class="form-group">
							<label class="form-label col-md-2 col-md-offset-1">
								Remark:
							</label>
							<div class="col-md-8">
								<textarea class="form-control" rows="3" ng-model="newWorkFlow.remark"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="form-label col-md-2 col-md-offset-1">
								bookings:
							</label>
							<div class="col-md-8">
								<input id="books" type="text" class="form-control" data-role="tagsinput" ng-model="newWorkFlow.books">
							</div>
						</div>
						<div class="form-group">
							<label class="form-label col-md-2 col-md-offset-1" >
								Attachment:
							</label>
							<div class="col-md-8">
								<input type="file" class="form-control" ng-file-select ng-model="uploader.attachment" ng-file-change="selectFileChanged()"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10 col-md-offset-1">
								<div class="progress">
									<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="uploader.progress" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':uploader.progressbar + '%'}">
										{{uploader.percentage}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-md-4 col-md-offset-7">
							<button class="btn btn-primary " style="float:right" data-dismiss="modal">Cancel</button>
							<button class="btn btn-primary " style="float:right; margin-right:5px;" ng-click="addWorkFlow()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
